/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* Add this CSS to your stylesheet */
.relative {
  transition: transform 0.3s ease-in-out;
}

.relative.hovered {
  transform: translateX(50px); /* Adjust the translation value as needed */
}

.image-container {
  overflow: hidden;
}

.change {
  transform: rotate(45deg);
}
.container {
  display: inline-block;
  cursor: pointer;
}

@layer base {
    body {
      @apply  dark:bg-black bg-[#FBFCFF];
    }

  }